body{
    background-color: #339999;
}

#center{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -300px;
    margin-top: -200px;
}

a, a:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

a:hover{ text-decoration:underline;
}

section, footer, nav{
    display: block;
}
#colorNav li{
    padding: 25px;
}
#colorNav > ul{
    margin:0 auto;
}

#colorNav > ul > li{
    display: inline-block;
    border-radius: 3px;
}

#colorNav > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:24px;
    padding: 5px;
}

#colorNav li ul{
    position:absolute;
    list-style:none;
    width:180px;
    left:50%;
    margin-left:-90px;
    top:70px;
    font:bold 12px 'Open Sans Condensed', sans-serif;
    max-height:0px;
    overflow:hidden;

    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

#colorNav li ul li{
    background-color:#313131;
}

#colorNav li ul li a{
    padding:12px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
}

#colorNav li ul li:nth-child(odd){
    background-color:#363636;
}

#colorNav li ul li:hover{
    background-color:#444;
}

#colorNav li ul li:first-child{
    border-radius:3px 3px 0 0;
    margin-top:25px;
    position:relative;
}

#colorNav li ul li:first-child:before{
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color:#313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}

#colorNav li ul li:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
#colorNav li:hover ul{
    max-height:200px;
}


#colorNav li.center{
    background-color:#00c08b;
    color:#127a5d;
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}
#colorNav li.up{
    background-color:#ea5080;
    color:#aa2a52;
    position: absolute;
    margin-top: 71px;
    margin-left: 100px;
}
#colorNav li.left{
    background-color:#53bfe2;
    color:#2884a2;
    position: absolute;
    margin-top: 200px;
    margin-left: -30px;}
#colorNav li.right{
    background-color:#f8c54d;
    color:#ab8426;
    position: absolute;
    margin-top: 200px;
    margin-left: 230px;}
#colorNav li.down {
    background-color: #df6dc2;
    color: #9f3c85;
    position: absolute;
    margin-top: 329px;
    margin-left: 100px;
}


#colorNav li.selected{
    background-color:lightgrey;
    border-style: solid;
    border-color: blueviolet}

/*----------------------------------------------------*/
#left{
    top: 0%;
    position: absolute;
}
.leftSelected{
    display: block;
    width: 150px;
    height: 140px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    margin-left: -50px;

}

.leftNot{
    list-style: none;
    margin-left: -30px;
}
ul .leftNot  .home a{
    background-image: url(/imgs/home.png);
}
ul .leftNot  .about a      {
    background-image: url(/imgs/camera-settings-cogwheel.png);
}
ul .leftNot  .search a      {
    background-image: url(/imgs/envelope.png);
}
ul .leftNot  .podcasts a      {
    background-image: url(/imgs/friends.png);
}
ul .leftNot.rssfeed a   {
    background-image: url(/imgs/line-chart.png);
}

ul .leftNot a {
    display: block;
    margin-left: -2px;
    width: 150px;
    height: 140px;
    background-color:#CFCFCF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
}

li .leftNot {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:1;
}
ul .leftNot{
    width: 100px;
}
ul .leftNot a {
    display: block;
    margin-left: -100px;
    width: 150px;
    height: 140px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
}

ul .leftNot a:hover{
    background-color:#CAE3F2;
    margin-left: -23px;
}

/*---------------------------------------------------------------*/
#up{
    position: absolute;
    width: 546px;
    margin-left: 32%;
    /*margin-top: -458px;*/

}

#nav {
    background-color: #F5F5F5;
    border-bottom: 2px solid #333333;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    padding: 0 15px;
    text-transform: uppercase;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
.active{
    background-color: #F55856;
}

/*Right*/

*, *:before, *:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}

#right {
    width: 350px;
    margin: 50px auto;
    float: right;
    top: 30%;
}
#right ul {
    list-style: none;
    padding: 0;
}

.title {
    font-family: 'Pacifico';
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: #C0392B;
}

.dropdown {
    position: relative;
}
.dropdown a {
    text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
    display: block;
    color: white;
    background: #C0392B;
    -moz-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    -webkit-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.dropdown [data-toggle="dropdown"]:hover {
    background: #cd3d2e;
}
.dropdown [data-toggle="dropdown"]:before {
    position: absolute;
    display: block;
    content: '\25BC';
    font-size: 0.7em;
    color: #fff;
    top: 13px;
    right: 10px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.dropdown > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > .dropdown-menu li {
    padding: 0;
}
.dropdown > .dropdown-menu li a {
    display: block;
    color: #6f6f6f;
    background: #EEE;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
}
.dropdown > .dropdown-menu li a:hover {
    background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
    max-height: 9999px;
    display: block;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

