h1 {
    letter-spacing: 8px;
    text-align: center;
    font-size: 80px;
    color: #304360;
}
body{
    background-color: #33FF6D;
    font-family: sans-serif, "Times New Roman", Times, serif;
}

p{
    width: 400px;
    height: 400px;
    background-color: #00CC07;
    float: left;
    margin: 20px;
    font-size: 23px;
    border-color: #005A66;
    border-style: dashed;
    border-width: 10px;
    overflow: auto;
    padding: 10px;
    font-style: italic;

}

p:first-letter{
    text-transform: uppercase;
    font-size: 100px;
    color: #005A66;
    float: left;
}
