html {
    height: 100%;
    background: linear-gradient(0deg, #719cc4 50%, #bababa 50%);
}
#preguntaDos{
    display: none;
}
#contenido{
    background-color: aliceblue;
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 40%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#contenido form label{
    background: #bababa;
    min-width: 400px;
}

.pregunta {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    padding: 10px;
}
