body{
    width: 100%;
    height: 100%;
}
table{
    width: 0%;
    margin: 0 auto;
}
table tr td {
    padding: 5px;
}

.celda {
    border-width: 1px;
    border: solid;
    border-color: #00FF00;
    cursor: help;
}