#titulo{
    background-color: #0c5460;
    min-height: 150px;
}

.noticia{
    border: 1px solid #9c9c9c;
    background-color: ghostwhite;
    margin-top: 10px;
}

.noticia img{
    float: left;
    width: 130px;
    margin: 10px;
}

.noticia h1{margin: 10px;}
.noticia p{margin: 10px;}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}