body{
    width: 100%;
    height: 100%;
}

#blackscreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999;
}

table{
    width: 0%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 15px;
    background-color: gainsboro;
}
table tr td {
    padding: 5px;
}

.celda {
    border-width: 1px;
    border: solid;
    border-color: #00FF00;
    cursor: pointer;
    background-color: white;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 2px;
}

.ddimgtooltip{
    box-shadow: 3px 3px 5px #818181; /*shadow for CSS3 capable browsers.*/
    -webkit-box-shadow: 3px 3px 5px #818181;
    -moz-box-shadow: 3px 3px 5px #818181;
    display:none;
    position:absolute;
    border:1px solid black;
    background:white;
    color: black;
    z-index:2000;
    padding: 4px;

}