body{
    background-color: #339999;
}

#ayuda{

    position: absolute;
    width: 500px;
    height: 510px;
    top: 10%;
    left: 9%;
    z-index: 9999999999;
    background-color: #6f6f6f;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 14px dashed #dbdbdb;
}
#texto_ayuda{

    background-color: white;
    padding: 10px;
    width: 400px;
    height: 200px;
    position: absolute;
    margin-left: 32px;
    float: left;
    top: 3%;
    border-radius: 15px;
}
#texto_ayuda p{
    margin-top: 0px;
    float: left;
}
#ayuda img{
    width: 100px;
    margin-top: 250px;
    padding: 10px;
    float: left;
}
.c3po{
    background: url(imgs/starwars_icons.png) #f6e2b9 no-repeat 0 0;
    width: 31px;
    height: 32px;
    float: left;
}
.ewook{
    background: url(imgs/starwars_icons.png) #f6e2b9 no-repeat -31px 0;
    width: 31px;
    height: 32px;
    float: right;
    margin-top: -35px;
    left: 0;
}
footer{

    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    float: right;
 }
#center{
    position: fixed;
    top: 40%;
    left: 52%;
    width: 500px;
    height: 500px;
    margin-left: -300px;
    margin-top: -200px;
}

a, a:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

a:hover{ text-decoration:underline;
}

section, footer, nav{
    display: block;
}
#colorNav li{
    padding: 25px;
}
#colorNav > ul{
    margin:0 auto;
}

#colorNav > ul > li{
    display: inline-block;
    border-radius: 3px;
}

#colorNav > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:24px;
    padding: 5px;
}

#colorNav li.center{
    background-color:#00c08b;
    color:#127a5d;
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

#colorNav li.up{
    background-color:#ea5080;
    color:#aa2a52;
    position: absolute;
    margin-top: 71px;
    margin-left: 100px;
}
#colorNav li.left{
    background-color:#53bfe2;
    color:#2884a2;
    position: absolute;
    margin-top: 200px;
    margin-left: -30px;}
#colorNav li.right{
    background-color:#f8c54d;
    color:#ab8426;
    position: absolute;
    margin-top: 200px;
    margin-left: 230px;}
#colorNav li.down {
    background-color: #df6dc2;
    color: #9f3c85;
    position: absolute;
    margin-top: 329px;
    margin-left: 100px;
}
/*----------------------------------------------------*/
#left{
    top: 0%;
    position: absolute;
}
.leftSelected{
    display: block;
    width: 150px;
    height: 140px;
    background-color:pink;
    background-repeat:no-repeat;
    background-position:center center;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    margin-left: -50px;
    background-image: url(imgs/center.png);

}

.leftSelected2{
    display: block;
    width: 150px;
    height: 140px;
    background-color:pink;
    background-repeat:no-repeat;
    background-position:center center;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    margin-left: -50px;
    background-image: url(imgs/left.png);

}

.leftNot{
    list-style: none;
    margin-left: -30px;
}
#left .home{
    background-image: url(imgs/center.png);
}
#left .left{
    background-image: url(imgs/left.png);
}
#left .right{
    background-image: url(imgs/right.png);
}
#left .up{
    background-image: url(imgs/up.png);
}
#left .down{
    background-image: url(imgs/down.png);
}

ul .leftNot a {
    display: block;
    margin-left: -2px;
    width: 150px;
    height: 140px;
    background-color:#CFCFCF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
}

li .leftNot {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:1;
}
ul .leftNot{
    width: 100px;
}
ul .leftNot a {
    display: block;
    margin-left: -100px;
    width: 150px;
    height: 140px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
}

ul .leftNot a:hover{
    background-color:#CAE3F2;
    margin-left: -23px;
}

/*---------------------------------------------------------------*/
#up{
    position: absolute;
    width: 464px;
    margin-left: 32%;
    /*margin-top: -458px;*/

}

#nav {
    background-color: #F5F5F5;
    border-bottom: 2px solid #333333;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1.3em;
    line-height: 49px;
    padding: 0 15px;
    text-transform: uppercase;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
.active{
    background-color: #F55856;
}

/*Right*/

#right {
    position: absolute;
    width: 160px;
    margin: 50px auto;
    right: 0px;
    top: 20%;
}
#right ul {
    list-style: none;
    padding: 0;
}

.title {
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: #C0392B;
}

.dropdown {
    position: relative;
}
.dropdown a {
    text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
    display: block;
    color: white;
    background: #C0392B;
    -moz-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    -webkit-box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    box-shadow: 0 1px 0 #d65548 inset, 0 -1px 0 #962d22 inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.dropdown [data-toggle="dropdown"]:before {
    position: absolute;
    display: block;
    content: '\25BC';
    font-size: 0.7em;
    color: #fff;
    top: 13px;
    right: 10px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.dropdown > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > .dropdown-menu li {
    padding: 0;
}
.dropdown > .dropdown-menu li a {
    display: block;
    color: #6f6f6f;
    background: #EEE;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
}
.dropdown > .dropdown-menu li a:hover {
    background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
    max-height: 9999px;
    display: block;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}

/*DOWN*/

#down{
    top: 72%;
    position: absolute;
    width:  700px;
    left: 25%;
    mso-shadow-color: white;
}
.clear{
    clear: both;
}


.slide-toggle{
    display: none;
}

.slidemenu{
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
    font-size: 30px;

}

.slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: #333;
    opacity: 0.2;

}

.slidemenu label:hover{
    cursor: pointer;
    color: green;
}
.slidemenu label .icon{
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
}

/*Bar Style*/

.slider{
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.slider .bar{
    width: 25%;
    height: 5px;
    background: #333;
    border-radius: 5px;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

/*Footer*/
.social-media-icons {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-media-icons li {
    display: inline-block;
}

.social-media-icons a {
    background-image: url(imgs/social-icons.png);
    background-repeat: no-repeat;
    display: block;
    height: 58px;
    transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    width: 50px;
}

.twitter {background-position: 0 0;}
.facebook {background-position: -53px 0;}
.dribbble {background-position: -106px 0;}
.pinterest {background-position: -159px 0;}
.deviantart {background-position: -212px 0;}

.zeta{background-position: 0 -60px;}
.rss{background-position: -53px -60px;}
.google{background-position: -106px -60px;}
.flickr{background-position: -159px -60px;}
.veta{background-position: -212px -60px;}

.be{background-position: 0 -120px;}
.youtube{background-position: -53px -120px;}
.tumblr{background-position: -106px -120px;}
.go{background-position: -159px -120px;}
.wordpress{background-position: -212px -120px;}
